*{
    margin: 0;
    padding: 0;
}
.roboto-mono-body {
   font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100-900;
  font-style: normal;
  font-variation-settings:
  "wdth" 100;
}
.body{
    font-family: "Roboto", sans-serif;
}
:root{
    --purple: #6F42C1;
    --blue: #007BFF;
    --dark-teal: #17A2B8;
    --light-teal: #00CCCC;
    --grey: #ADB2BD;
    --light-grey: #c4c9d285;
    --white: #ffffff;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 16
}
.navbar{
    padding: 15px 50px;
    display: flex;
    justify-content: space-between;
    border-bottom: 5px black;
    box-shadow: 0px 5px 5px 1px rgba(241, 240, 240, 0.521);
    align-items: center;
    gap: 0px;
    font-family: "Roboto", sans-serif;

    h3{
        font-size: 35px;
        color: rgb(125, 73, 173);
        font-weight: 600;
    }
    .menu{
        visibility: hidden;
    }
}
.navbutton-1 {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 30px;
    align-items: center;
   
    a{
        text-decoration: none;
        display: inline-flex;
         align-items: center;
         color: rgb(6, 6, 65);
         font-size: 20px;
         text-align:justify;
         gap: 6px;
    }
    .active{
        color: blueviolet;
    }
}
.sidebar{
    display: none;
}
.navbutton-1 a:hover{
    color: blueviolet;
}
.navbutton-2 a:hover{
    color: blueviolet;
}
.navbutton-2 {
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 13px;
    align-items: center;
   
    a{
        text-decoration: none;
         align-items: center;
         color: rgb(6, 6, 65);
         text-align:justify;
    }
}

.hero-1{
    padding: 20px 50px;
    padding-right: 50px;
    display: flex;
    justify-content: space-between;
    font-family: "Roboto", sans-serif;
}
.text-box{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.hero-1-text-1 h3{
    font-size: 22px;
    padding-bottom: 10px;
    font-weight: 600;
}
.hero-1-text-1 p{
    font-size: 16px;
}
.hero-1-text-2{
    text-wrap: nowrap;
}
.hero-1-text-2 h5{
    display: flex;
    font-size: 18px;
    font-weight: 600;
}
.hero-1-text-2 p{
    font-size: 13px;
    font-weight: 400;
    color: rgba(119, 116, 116, 0.384);
}
.line{
    font-size: 40px;
    text-align: center;
    color: rgba(119, 116, 116, 0.384);
}
.text-box button{
    background-color: blueviolet;
    padding: 13px 15px 17px 15px;
    width: 100%;
    max-width: 100px;
    font-size: 18px;
    border: 0;
    color: white;
    height: 45px;
    justify-content: center;
    align-items: center;
    overflow: 0;
}
.text-box button:hover{
    box-shadow: 1.5px 1.5px 5px 2px rgba(146, 105, 184, 0.897);
}
.hero-2{
    padding: 15px 50px 15px 50px;
    font-family: "Roboto", sans-serif;
}
.hero-2-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.hero-2-text-left{
    padding-bottom: 0px;
    display: inline-flex;
    list-style-type: none;
    gap: 20px;
    font-size: 16px;
    align-items: center;
}
.hero-2-text-left a{
    color: #0e0e0ea9;
    text-decoration: none;
}
.hero-2-text-left a:hover{
    color: blueviolet;
}
.hero-2-text-right a:hover{
    color: blueviolet;
}

.hero-2-text-left a.active-2{
    color: blueviolet;
}

.hero-2-text-right{
    display: inline-flex;
    list-style-type: none;
    gap: 20px;
    font-size: 16px;
    align-items: center;
}
.hero-2-text-right a{
    display: inline-flex;
    color: #0e0e0ea9;
    text-decoration: none;
    align-items: center;
    gap: 5px;
}
.line-2{
    align-items: center;
    font-size: 40px;
    color: rgba(119, 116, 116, 0.384);
    
}
.ruler{
    margin: -2px;
    width: 100%;
    height: 1.5px;
    background-color: rgba(119, 116, 116, 0.384);
    border: 0;
}
.hero-3{
    padding: 0px 50px 5px 50px;
    display: flex;
    gap: 20px;
    font-family: "Roboto", sans-serif;

    .graph-1{
        width: 100%;
        max-width: 780;
        height: auto;
    }
    .graph-1 img{
        width: 100%;
        height: auto;
    }
    .graph-2{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        max-width:520px;
        height: auto;
        
    }
    .graph-2 img{
        width: 100%;
    }
    .graph-2-1{
        display: flex;
        justify-content: space-between;
    }
    .graph-2-1 img{
        width: 48%;
        
    }
}
.hero-4{
    display: flex;
    padding: 10px 50px;
    gap: 20px;
    font-family: "Roboto", sans-serif;

    .graph-details{
        padding: 15px;
        border: 0.12rem solid rgba(119, 116, 116, 0.384);
        width: 30vw;
    }
    .widget-heading h5{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .widget-heading p{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .graph-info-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .widgets{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }
    .widget-details{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .widget-stats{
        display: flex;
        flex-direction: column;
        text-align: right;
        align-items: right;
        gap: 5px;
    }
    .page-title{
        font-size: 18px;
        font-weight: 600;
    }
    .page-link{
        font-size: 16px;
        font-weight: 400;
        color: rgba(119, 116, 116, 0.836);
    }
    .views{
        font-size: 18px;
        font-weight: 600;
        color: blue;
    }
    .percentage{
        font-size: 16px;
        font-weight: 400;
        color: rgba(119, 116, 116, 0.836);
    }
    .channel{
        width: 55vw;
        border: 0.12rem solid rgba(119, 116, 116, 0.384);
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .channel-title{
        font-size: 28px;
        font-weight: 600;
    }
    .chart-container{
        display: flex;
        
        justify-content: space-between;
        align-items: center;
    }
    .chart{
        margin-left: 5%;
        width: 40vh;
        height: 40vh;
        align-items: center;
        border: 0;
        border-radius: 50%;
        background: 
        radial-gradient(
            white  40%,
            transparent 0 70%,
            white 0
        ),
        conic-gradient(
            var(--purple) 0%  24.8%,
            transparent 25% 25.3%,
            var(--blue) 25.3% 45%,
            transparent 45% 45.3%,
            var(--dark-teal) 45.3% 75%,
            transparent 75% 75.3%,
            var(--light-teal) 75.3% 90%,
            transparent 90% 90.3%,
            var(--grey) 90.3% 99.7%,
            transparent 99.7% 100%
        );
    }
    
    .chart-list{
        display: flex;
        flex-direction: column;
        width: 60vh;
        height: auto;
        gap: 30px;
        font-size: 18px;
        font-weight: 600;
        justify-content: center;

        .list-item{
        display: flex;
        flex-direction: column;
        gap: 8px;
        }
        .chart-list-text{
            display: flex;
            justify-content: space-between;
        }
        .chart-list-title{
            color: #747477;
        }
        .prg-per{
            color: #818387;
        }
        .progress-bar-1{
            height:1.2vh;
            border: 0;
            background: 
            linear-gradient(
                to right,
                var(--purple) 0% 25%,
                var(--light-grey) 25% 100%
                );
        }
        .progress-bar-2{
            height:1.2vh;
            border: 0;
            background: 
            linear-gradient(
                to right,
                var(--blue) 0% 20%,
                var(--light-grey) 20% 100%
                );
        }
        .progress-bar-3{
            height:1.2vh;
            border: 0;
            background: 
            linear-gradient(
                to right,
                var(--dark-teal) 0% 30%,
                var(--light-grey) 30% 100%
                );
        }
        .progress-bar-4{
            height:1.2vh;
            border: 0;
            background: 
            linear-gradient(
                to right,
                var(--light-teal) 0% 15%,
                var(--light-grey) 15% 100%
                );
        }
        .progress-bar-5{
            height:1.2vh;
            border: 0;
            background: 
            linear-gradient(
                to right,
                var(--grey) 0% 10%,
                var(--light-grey) 10% 100%
                );
        }
    }
}


@media(max-width:768px){

    .navbar{
        width: 100vh;
        height: 20vh;
    }
    .sidebar{
        position: fixed;
        top:0;
        left: 0;
        height: 100vh;
        width: 40vh;
        z-index: 999;
        background-color: white;
        backdrop-filter: blur(10px);
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 5px 25px;
    }
    .sidebar li{
        width: 100%;
    }
    .sidebar a{
        width: 100%;
    }
    .hide-1{
        visibility: hidden;
    }
    span.material-symbols-outlined.menu {
        color: black;
        visibility: visible;
    }
    .hero-1{
        display: flex;
        flex-direction: column;
    }
    .hero-2-text{
        padding: 5px 30px 5px 30px;
        display: flex;
        flex-direction: column;
    }
    .hero-3{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .hero-4{
        width: 100vh;
        display: flex;
        flex-direction: column;
    }
    .graph-details{
        width: 100vw;
       .graph-details{
        padding: 15px;
        border: 0.12rem solid rgba(119, 116, 116, 0.384);
        width: 30vw;
    }
    .widget-heading h5{
        font-size: 20px;
        margin-bottom: 10px;
    }
    .widget-heading p{
        font-size: 18px;
        font-weight: 400;
        margin-bottom: 20px;
    }
    .graph-info-list{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    .widgets{
        display: flex;
        justify-content: space-between;
        list-style-type: none;
    }
    .widget-details{
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    .widget-stats{
        display: flex;
        flex-direction: column;
        text-align: right;
        align-items: right;
        gap: 5px;
    }
    .page-title{
        font-size: 18px;
        font-weight: 600;
    }
    .page-link{
        font-size: 16px;
        font-weight: 400;
        color: rgba(119, 116, 116, 0.836);
    }
    .views{
        font-size: 18px;
        font-weight: 600;
        color: blue;
    }
    .percentage{
        font-size: 16px;
        font-weight: 400;
        color: rgba(119, 116, 116, 0.836);
    }
    }
    .channel{
        width: 100vh;
        border: 0.12rem solid rgba(119, 116, 116, 0.384);
        padding: 15px 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .channel-title{
        font-size: 28px;
        font-weight: 600;
    }
    .chart-container{
        display: flex;
        gap: 30px;
        justify-content: space-between;
        align-items: center;
    }
    .chart{
        margin-left: 5%;
        width: 40vh;
        height: 40vh;
        align-items: center;
        border: 0;
        border-radius: 50%;
        background: 
        radial-gradient(
            white  40%,
            transparent 0 70%,
            white 0
        ),
        conic-gradient(
            var(--purple) 0%  24.8%,
            transparent 25% 25.3%,
            var(--blue) 25.3% 45%,
            transparent 45% 45.3%,
            var(--dark-teal) 45.3% 75%,
            transparent 75% 75.3%,
            var(--light-teal) 75.3% 90%,
            transparent 90% 90.3%,
            var(--grey) 90.3% 99.7%,
            transparent 99.7% 100%
        );
    }
    
    .chart-list{
        display: flex;
        flex-direction: column;
        width: 60vh;
        height: auto;
        gap: 30px;
        font-size: 18px;
        font-weight: 600;
        justify-content: center;

        .list-item{
        display: flex;
        flex-direction: column;
        gap: 8px;
        }
        .chart-list-text{
            display: flex;
            justify-content: space-between;
        }
        .chart-list-title{
            color: #747477;
        }
        .prg-per{
            color: #818387;
        }
        .progress-bar-1{
            height:1.2vh;
            border: 0;
            background: 
            linear-gradient(
                to right,
                var(--purple) 0% 25%,
                var(--light-grey) 25% 100%
                );
        }
        .progress-bar-2{
            height:1.2vh;
            border: 0;
            background: 
            linear-gradient(
                to right,
                var(--blue) 0% 20%,
                var(--light-grey) 20% 100%
                );
        }
        .progress-bar-3{
            height:1.2vh;
            border: 0;
            background: 
            linear-gradient(
                to right,
                var(--dark-teal) 0% 30%,
                var(--light-grey) 30% 100%
                );
        }
        .progress-bar-4{
            height:1.2vh;
            border: 0;
            background: 
            linear-gradient(
                to right,
                var(--light-teal) 0% 15%,
                var(--light-grey) 15% 100%
                );
        }
        .progress-bar-5{
            height:1.2vh;
            border: 0;
            background: 
            linear-gradient(
                to right,
                var(--grey) 0% 10%,
                var(--light-grey) 10% 100%
                );
        }
    }
}